body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que el body ocupe toda la altura de la pantalla */
}

header {
    background-color: #ff0000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
}

.main-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contingut {
    flex: 1;
}

.foto-meva {
    height: 250px;
    width: auto;
    border-radius: 10%;
    margin-left: 20px;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#lenguajes {
    text-align: center;
    margin-top: 40px;
}

#lenguajes h2 {
    font-size: 1.8em;
    color: #ff0000;
    margin-bottom: 20px;
}

.lenguajes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.lenguajes-container img {
    height: 60px;
    width: auto;
    transition: transform 0.3s ease;
}

.lenguajes-container img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    margin-top: auto;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
